.checkout-page {
  padding: 20px;
}

.client-info {
  border: 1px solid black;
  padding: 20px;
}

.payment-method {
  border: 1px solid black;
  padding: 20px;
}

.price {
  padding: 10px;
}

.review-cart {
  border: 1px solid black;
  padding: 20px;
}

.return-button {
  background-color: white;
  background-image: url('../imgs/return.svg');
  border: none;
  height: 50px;
  margin: 0;
  width: 50px;
}

.review-cart table td {
  padding: 15px;
}

.payment-method form {
  display: flex;
  flex-direction: row;
}

.payment-method form div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.radio {
  display: inline;
  justify-content: space-between;
}

.radio img {
  margin-left: 20px;
  width: 30px;
}

.submit-button {
  margin-top: 10px;
}
