.header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.input-search {
  width: 600px;
}

.cart {
  background-color: white;
  color: white;
  background-image: url('../imgs/cart.svg');
  border: none;
  height: 50px;
  margin: 0;
  width: 50px;
}

.cart p {
  background-color: rgb(161, 10, 10);
  border-radius: 100%;
  float: right;
  font-weight: 700;
  height: 20px;
  margin-top: 0;
  text-align: center;
  width: 20px;
}