.cart {
  background-image: url('../imgs/cart.svg');
  color: white;
  height: 50px;
  width: 50px;
}

.cart p {
  background-color: rgb(161, 10, 10);
  border-radius: 100%;
  float: right;
  font-weight: 800;
  height: 18px;
  margin-top: 0;
  text-align: center;
  width: 18px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.input-search {
  width: 600px;
}
