.div_container {
  margin-top: 100px;
}

.div_content {
  margin-left: 20px;
}

.flex_cart_container {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.flex_qtd_container {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.input_qtd {
  align-self: center;
  border-radius: 100%;
  height: 20px;
  text-align: center;
  width: 20px;
}

.title_content {
  width: auto;
}
